Replace in-body `formatVersion` and `synctoken` with Media Types and ETags

Feedback from the mailing list suggests that the current formatVersion and synctoken fields are redundant with existing HTTP mechanisms and are not present in existing deployments.

- Format Version: `formatVersion` is a "bad pattern" that is redundant with Media Types. Martin suggests to remove this field and instead register a specific Media Type (potentially with a default version of 1.0) to signal content model compatibility.
- Sync Token: Thibault  suggests the `synctoken` is redundant with the HTTP ETag header, although Martin seems to disagree. It is suggested to make this field OPTIONAL or remove it entirely in favor of standard HTTP caching mechanisms (RFC 9110 Section 8.8.3).

**Proposed Action:**

1. Remove formatVersion from the JSON body and specify a Media Type.
2. Decide whether to remove synctoken (or make it optional) and potentially require the use of ETag for integrity and caching.

References:
[https://mailarchive.ietf.org/arch/msg/web-bot-auth/Yqw0r8Ry2I6wqB5huKxUQs-ApLE/](https://mailarchive.ietf.org/arch/msg/web-bot-auth/Yqw0r8Ry2I6wqB5huKxUQs-ApLE/)
[https://mailarchive.ietf.org/arch/msg/web-bot-auth/UXpJMWkKTNCk_5OD2j01b782n3w/](https://mailarchive.ietf.org/arch/msg/web-bot-auth/UXpJMWkKTNCk_5OD2j01b782n3w/)
